{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
 <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Import materialize.css -->
  <link href="http://localhost:8000/media/js/materialize.css" rel="stylesheet">

    <title>Ponynote</title>
  </head>
  <body>
    <div id="root" >
    </div>
      {% render_bundle 'main' %}
    <script src="http://localhost:8000/media/js/js.js" type="text/javascript"></script>
    <script src="http://localhost:8000/media/js/materialize.js" type="text/javascript"></script>
  </body>


</html>

